# Pandas

- Pandas stands for panel data <br> - it is important for data manipulation and data analysis <br> - it consist of single and multi Diamentional data strucures where single diamentional is Series and multi-diamentional is DataFrame

## Series

- series is like a column in table <br> - it is one-dimentional Array which can hold data of any type <br> - to create a series we can use series memthod in pandas <br> - it returns the index and the values as followed

In [1]:
import pandas as pd

In [2]:
ser1 = pd.Series([10,20,30,40,50])
print(ser1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

- We can also change the index type by passing the index attributes by passing index as a parameter to series function as followed

In [3]:
ser1 = pd.Series([10,20,30,40,50], index = ['a', 'b', 'c', 'd', 'e'])
print(ser1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Object in Series

- Object is a mutable data type <br> - to create a object we can pass dictionary as parameter in Series method as followed

In [4]:
obj1 = pd.Series({'a':10, 'b':20, 'c':30})
print(obj1)

a    10
b    20
c    30
dtype: int64

- We can also set index as we can do in list

In [5]:
obj1 = pd.Series({'a':10, 'b':20, 'c':30},index = ['b','c','a','d'])
print(obj1)

b    20.0
c    30.0
a    10.0
d     NaN
dtype: float64

In [6]:
ser3 = pd.Series([1,2,3])
print(ser3)

0    1
1    2
2    3
dtype: int64

### Basic maths operations on Series

#### Addition

In [7]:
ser3 +=10
print(ser3)

0    11
1    12
2    13
dtype: int64

#### Substraction

In [8]:
ser3 -=10
print(ser3)

0    1
1    2
2    3
dtype: int64

#### Multiplication

In [9]:
ser3 *=10
print(ser3)

0    10
1    20
2    30
dtype: int64

#### Division

In [10]:
div_ser3 = ser3/10
print(div_ser3)

0    1.0
1    2.0
2    3.0
dtype: float64

### Two series maths operations

In [11]:
ser4 = pd.Series([10,20,30])
print(ser4)

0    10
1    20
2    30
dtype: int64

#### Addition

In [12]:
ser5 = ser3+ser4
print(ser5)

0    20
1    40
2    60
dtype: int64

#### Substraction

In [13]:
ser5 = ser3-ser4
print(ser5)

0    0
1    0
2    0
dtype: int64

#### Multiplication

In [14]:
ser5 = ser3*ser4
print(ser5)

0    100
1    400
2    900
dtype: int64

#### Division

In [15]:
ser5 = ser3/ser4
print(ser5)

0    1.0
1    1.0
2    1.0
dtype: float64

## DataFrame

- Dataframe is a two-diamentional labeled data Structure <br> - It consist of rows and columns <br> - to create a dataframe we need to use DataFrame() method from pandas <br> - DataFrame() method accept dictionary as a parameter where keys are columns and values are rows

In [16]:
df = pd.DataFrame({'Name':['Prasad','Chishtiya','Rahul','Vicky'],'PRN':['372','324','373','271'],'Gender':['Male','Female','Male','Male']})
print(df)

        Name  PRN  Gender
0     Prasad  372    Male
1  Chishtiya  324  Female
2      Rahul  373    Male
3      Vicky  271    Male

#### head() method

- head() method returns the first five rows of dataframe <br> - By default it returns first five rows but it also accept the integer value as a parameter <br> - The number you have passed that much rows will be returned by head method

In [17]:
df.head()

        Name  PRN  Gender
0     Prasad  372    Male
1  Chishtiya  324  Female
2      Rahul  373    Male
3      Vicky  271    Male

#### tail() method

- tail() method returns the last five rows of dataframe <br> - By default it returns last five rows but it also accept the integer value as a parameter <br> - The number you have passed that much rows will be returned by tail method

In [18]:
df.tail(2)

    Name  PRN Gender
2  Rahul  373   Male
3  Vicky  271   Male

#### shape method

- shape method returns the shape if a dataframe <br> - (eg. no of rows, columns presented in dataframe)

In [19]:
df.shape

(4, 3)

#### describe() method

- describe method describes our dataframe <br> - example <br> - no of records in a column <br> - no of unique values in a column <br> - frequency, mean, median, standard deviation, minimum value, maximum value etc...

In [20]:
df.describe()

          Name  PRN Gender
count        4    4      4
unique       4    4      2
top     Prasad  372   Male
freq         1    1      3

#### iloc[ ] method

- iloc method is used to extract the particular rows and columns from a dataframe <br> - it accepts two arguments [starting row : ending row, starting col : ending column] <br> - eg. we want to extract rows from index 0 to 2 and columns from index 0 to 1 we can do it as followed

In [21]:
df.iloc[0:2, 0:1]

        Name
0     Prasad
1  Chishtiya

#### loc[ ] method

- loc[ ] method is used to extract the particular rows and columns from a dataframe <br> - This works almost same as iloc method but the difference is we can pass the column name instead of index to loc method <br> - it accept two arguments loc[ starting row: ending row, column_name] <br> - eg to extract he only name columns first two rows we can write it as followed

In [26]:
df.loc[0:2, 'Name']

0       Prasad
1    Chishtiya
2        Rahul
Name: Name, dtype: object

In [22]:
print(df)

        Name  PRN  Gender
0     Prasad  372    Male
1  Chishtiya  324  Female
2      Rahul  373    Male
3      Vicky  271    Male

#### value_count() method

- value count method is used to know the number of record in categorical data for each category <br> - eg. when we have categorical data means data in the form of categories like (male. female), (yes, no) , (positive, negative, neutral) and we want to know the no of entries available for each categories we can use value_count method as followed <br> - we can write extract the column name from the dataframe and use .value_count() method on it as followed

In [23]:
df['Gender'].value_counts()

Gender
Male      3
Female    1
Name: count, dtype: int64

#### sort_values() method

- We can sort the values in a column in an order using sort_values() method <br> - it will sort the values in ascending or alphabetical order by default <br> - To use this we have to extract the column we want to sort from the dataframe and then we have to use .sort_value() method

In [24]:
df['Name'].sort_values()

1    Chishtiya
0       Prasad
2        Rahul
3        Vicky
Name: Name, dtype: object

#### drop() method

- drop() method is used to drop/delete a column in a dataframe <br> - we have to store the result in new dataframe - we have to set axis for delete where <br> - axis = 1 --> column <br> - axis = 0 --> row

In [25]:
df = df.drop('Gender',axis=1)
print(df)

        Name  PRN
0     Prasad  372
1  Chishtiya  324
2      Rahul  373
3      Vicky  271